
/* Especificamos las variables para los colores*/
:root {
    --secondaryVariant: #279CA7;
    --error: #d1072c;
}
/* diseño pagina */
body {
    background-color: rgba(24, 152, 156, 0.5);
    color: white;
}

h1 {
    font-size: 3vh;
    text-align: center;
    color: white;
    padding-top: 3vw;
    text-decoration: underline;
    text-shadow: 3px 1px 1px var(--secondaryVariant);
}
/* diseño formulario */
label {
    text-shadow: 3px 1px 1px var(--secondaryVariant);

}
.inputs {
    display: flex;
    padding-left: 35VW;
    padding-right: 35VW;
    flex-direction: column;
    gap: 1vh;
    font-weight: bold;
    font-size: 2vh;
    padding-top: 1vw;

}

.botones {
    padding-top: 3vw;
    padding-bottom: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3vh;
    font-weight: bold;
}

.boton {
    border-radius: 5px;
    width: 11vh;
    height: 4vh;
    font-weight: bold;
    border: 1px solid white;
    transition: all 300ms ease;
    background: var(--secondaryVariant);
}


.boton:hover {
    border: 1px solid black;
    background: white;
    color: var(--secondaryVariant);
}

.intrucciones {
    padding-left: 35VW;
    padding-right: 35VW;
}

p { 
    justify-content: center;
    font-weight: bold;
    border: 1px solid white;
    padding: 20px;
    background: var(--secondaryVariant);
}
/* diseño tabla */
.contenedorTabla {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.tabla {
    color: white;
    width: 700px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.055);
}
/* diseño tabla excepciones */

table {
    width: 700px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: orange;
    color: black;
}

th{
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.185);
}

td {
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.185);
    text-align: center;
}

thead {
    background-color: var(--secondaryVariant);
}
/* diseño boton volver */
.volver {
    border-radius: 5px;
    width: 11vh;
    height: 4vh;
    font-weight: bold;
    border: 1px solid white;
    transition: all 300ms ease;
    background: var(--secondaryVariant);
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volver:hover {
    border: 1px solid black;
    background: white;
    color: var(--secondaryVariant);
}
/* diseño mensajes */
.check {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 2vw;
    background-color: var(--secondaryVariant);
}

.error {
    font-weight: bold;
    color:  var(--error);
    margin-bottom: 2vw;
    background-color: rgba(255, 255, 255, 0);
}




